/*****************/	
/*COLOURS*/
	.black{color:#000!important;}
	.red{color:#b50000!important;}
	.redbk{background-color:#b50000!important;}
	.redbkSolid{background-color:#b50000!important;}
	.redbk:hover{background-color:#8a8a8a!important;}
	.gray{color:#8a8a8a!important;}
	.graybk{background-color:#8a8a8a!important;}
/*COLOURS*/
/*****************/	


/********************/	
/*MAIN PANEL*/
	#home{ background:linear-gradient(to bottom, rgba(180, 180, 180, 0.9) 0%, rgba(0, 0, 0, 0.1) 100%), url('../../img/banner1.png') 50% 50% / cover no-repeat; }
	.grid { top: 0px;width: 100vw;height: 100vh;position: fixed;box-shadow: rgb(0, 0, 0) 0px 0px 60px inset;background-image: url('../../img/gridtile.png'); }
	.accent-title{ font-weight:bold; text-transform: uppercase; }
	.main-logo { position: absolute; top: 16%; max-width: 300px; left: 10%; }
	
	.screen{visibility:none;display:none;position:fixed;top:0px;left:0px;width:100%;height:100%;background:rgba(0,0,0,.5);cursor:pointer;z-index: 2;}
/*MAIN PANEL*/
/********************/

/********************/	
/*CONTENT PANEL*/
	#rightSide, #rightSideShort{padding-top: 52px;}
	.projectTitle{padding: 0 10%;color: #fff;font-weight: bold;background-color:#b50000!important;margin-bottom: 0px;}
/*CONTENT PANEL*/
/********************/


/********************/	
/*NAVIGATION*/
	nav{background-color: #000;position: fixed;z-index: 1;width: 100vw;}
	nav ul{}
		nav ul li{cursor:pointer;display:inline-block;padding:6px 10px;}
		nav ul li:first-child{border-right: 1px solid #fff;margin: 12px 0;padding: 0px 15px;}
		nav ul li a:hover, nav ul li a.active{color:#b50000;}
	
/*NAVIGATION*/
/********************/

.clear{clear: both;margin-bottom: 15px;}

.projectImgContainer{overflow:hidden;max-height: 50vh;}
.blog .projectImgContainer{overflow:hidden;height: auto;}

/*SMALL*/
@media only screen and (min-width: 0px) and (max-width: 1024px) {
	#leftSide, #leftSideShort {text-align:center;}
	.main-logo { position: relative;max-width: 300px;left: initial;top: initial;clear: both;margin-top: 10%; }
	.h-content {position: relative;z-index: 0;top: 10vh;}
	.social_icons, #homeCenter .social_icons{ padding-left:initial; }
}


/*LARGE*/
@media only screen and (min-width: 1025px) and (max-width: 99999px) {
	.main-logo { margin-top: 10%; }
	.h-content {position: relative;z-index: 0;top: 42.7vh;}
}